*,
::before,
::after {
    box-sizing: border-box;
}

body {
	background-image: url("../img/bgimg.png");
	background-position: center;
	background-size: cover;
	font-family: 'Akrobat';
}
.row {
	display: flex;
	align-items: center;
}



.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: flex;
	align-items: center;
    background-color: #749c8d;
    padding: 2px 0 10px 0;
    &__logo {
        display: flex;
        align-items: center;
    }
    &__text {
        margin-left: 15px;
        color: #ffffff;
		font-size: 26px;
		font-family: "Tahoma";
        font-weight: normal;
        text-transform: uppercase;
		letter-spacing: -1.17px;   
	}
	&__social {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		&--link {
			margin-left: 12px;
			display: flex;
			justify-content: center;
			align-self: center;
			padding: 8px 5px;
			border: 2px #ffffff solid;
			border-radius: 100%;
			:first-child {
				margin-left: 0;
			}
			:hover {
				opacity: .7;
				transition: .2s linear;
			}
		}
	}
}


.banner {
	margin-top: 80px;
	&__img {
		width: 100%;
		height: auto;
	}
	&__arrow {
		display: none;
		width: 100%;
		height: auto;
	}
}


.discount {
	&__inner {
		width: 100%;
		background-image: url("../img/bg-green.png");
		background-repeat: no-repeat;
		background-position: center;
		&--title {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #004734;
			font-size: 48px;
			font-weight: 400;
			text-transform: uppercase;
			.red {
				margin: 0 15px;
				color: #de4814;
				font-size: 63px;
				font-weight: bold;
			}
			&::before {
				margin-top: 80px;
				margin-right: 70px;
				content: url("../img/left_down.png");
				display: block;
			}
			&::after {
				margin-top: 80px;
				margin-left: 70px;
				content: url("../img/right_down.png");
				display: block;
			}
		}
	}
	&-box {
		margin-top: 70px;
		&__item {
			box-shadow: 0 0 15px rgba(16, 17, 17, 0.4);
			background: rgba($color: #dfe4ec, $alpha: .7);
		}
		
	}
}

.box-item {
	margin-bottom: 66px;
	position: relative;
	&::before {
		content: url("../img/discount.png");
		position: absolute;
		z-index: 2;
		top: -14px;
		right: -10px;
	}
	&__inner {
		display: flex;
		flex-direction: column;
		padding-bottom: 7px;
		&-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}

.item__text {
	display: flex;
	flex-direction: column;
	padding: 23px 20px;
	&--price {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		padding: 9px 83px 9px 25px;
		background:#fbfcfc;
		color: #d8481c;
		font-size: 37px;
		font-weight: 400;
		line-height: 1;
		&::before {
			content: "8300 ₽";
			color: #575757;
			font-size: 30px;
			font-weight: 400;
			text-decoration: line-through;
		}
	}
	&--buy {
		margin-bottom: 10px;
		display: block;
		padding: 10px 60px;
		background-color: #3ab16f;
		border: none;
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		color: #ffffff;
		&:hover {
			opacity: .7;
			transition: .2s linear;
		}
	}
	&--more {
		margin-bottom: 10px;
		display: block;
		border: 2px solid #e96c41;
		background-color: #ffffff;
		padding: 5px 60px;
		font-size: 22px;
		font-weight: bold;
		color: #b83b11;
		&:hover {
			opacity: .7;
			transition: .2s linear;
		}
	}
	&--important {
		width: max-content;
		margin: 0 0 0 auto;
		font-size: 17px;
		font-weight: 400;
		color: #ab310c;
		border-bottom: 1px dashed #ab310c;
		&:hover {
			opacity: .7;
			transition: .2s linear;
		}
	}
	&--title {
		max-width: 393px;
		padding-left: 20px;
		color: #000000;
		font-size: 26px;
		font-weight: 400;
		line-height: 35px;
		text-transform: uppercase;
		.underline {
			font-weight: bold;
			text-decoration: underline;
		}
	}
	&--text {
		padding-left: 20px;
		padding-right: 40px;
		color: #004734;
		font-size: 20px;
		font-weight: 400;
	}
}

.sharing {
	width: 100%;
	background-color: #ffffff;
	opacity: .9;
	&__inner {
		&--title {
			margin-bottom: 14px;
			text-align: center;
			color: #828384;
			font-size: 18px;
			font-weight: 400;
		}
	}
	&__social {
		display: flex;
		justify-content: center;
		padding-bottom: 12px;
		&--link {
			margin-right: 10px;
			background-color: #aeaeae;
			border-radius: 100%;
			padding: 8px 4px 6px 3px;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				opacity: .7;
				transition: .2s linear;
			}
		}
	}
}

.subscribe {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 58px;
	&::before {
		margin-left: auto;
		display: block;
		content: url("../img/arrow_right.png");
	}
	&::after {
		margin-right: auto;
		display: block;
		content: url("../img/arrow_left.png");
	}
	&__inner {
		padding: 26px 12px;
		border: 3px dotted #608f7f;
		background-color: #80c9b0;
	}
	&__box {
		display: flex;
		justify-content: center;
	}
}

.input {
	&__name {
		margin-right: 14px;
		text-align: center;
		border: 1px solid #56907c;
		background-color: #ffffff;
		padding: 13px 103px;
		color: #808286;
	}
	&__email {
		margin-right: 14px;
		text-align: center;
		border: 1px solid #56907c;
		background-color: #ffffff;
		padding: 13px 100px;
		color: #808286;
	}
	&__btn {
		text-align: center;
		padding: 13px 26px;
		background-color: #de0d08;
		// border: 1px #de0d08 solid;
		border: none;
		color: #ffffff;
		font-size: 21px;
		font-weight: bold;

	}
}


.footer {
	background-color: #a4a4a5;
	padding: 70px 0;
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__line {
		display: flex;
		flex-direction: row;
	}
	&__link {
		text-align: center;
		margin-left: 3px;
		margin-right: 7px;
		color: #ffffff;
		font-size: 17px;
		font-weight: 400;
		text-decoration: underline;
			&:nth-of-type() {
				&::before {
				content: "|";
				margin-right: 7px;
				text-decoration: none;
				}
			}
			&:nth-of-type(2) {
				&::before {
				content: "|";
				margin-right: 7px;
				text-decoration: none;
				}
			}
		
	}
	.white {
		color: #ffffff;
		font-family: "Akrobat";
		font-size: 17px;
		font-weight: 400;
	}
}






.i {
	display: block;
	&-vk {
		display: block;
		width: 26px;
		height: 20px;
		fill: #ffffff;
	}
	&-instagram {
		display: block;
		width: 26px;
		height: 20px;
		fill: #ffffff;
	}
	&-facebook {
		display: block;
		width: 26px;
		height: 20px;
		fill: #ffffff;
	}
	&-odnoklassniki {
		display: block;
		width: 26px;
		height: 20px;
		fill: #ffffff;
	}
	&-youtube {
		display: block;
		width: 26px;
		height: 20px;
		fill: #ffffff;
	}
	&-linkedin {
		display: block;
		width: 26px;
		height: 20px;
		fill: #ffffff;
	}
	&-journal {
		display: block;
		width: 26px;
		height: 20px;
		fill: #ffffff;
	}
	&-mail {
		display: block;
		width: 26px;
		height: 20px;
		fill: #ffffff;	
	}
	&-yandex {
		display: block;
		width: 26px;
		height: 20px;
		fill: #ffffff;
	}
	&-google {
		display: block;
		width: 26px;
		height: 20px;
		fill: #ffffff;
	}
}




@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat-Regular.eot');
	src: local('../fonts/Akrobat Regular'), local('Akrobat-Regular'),
		url('../fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat-Regular.woff') format('woff'),
		url('../fonts/Akrobat-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat-Bold.eot');
	src: local('../fonts/Akrobat Bold'), local('Akrobat-Bold'),
		url('../fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat-Bold.woff') format('woff'),
		url('../fonts/Akrobat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Tahoma';
	src: url('Tahoma.eot');
	src: local('Tahoma'),
		url('../fonts/Tahoma.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Tahoma.woff') format('woff'),
		url('../fonts/Tahoma.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arctika script';
	src: url('../fonts/Arctikascript.eot');
	src: local('../fonts/Arctika script'), local('Arctikascript'),
		url('../fonts/Arctikascript.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Arctikascript.woff') format('woff'),
		url('../fonts/Arctikascript.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@media (max-width: 1245px) {
	.subscribe {
		&__box {
			display: flex;
			flex-wrap: wrap;
		}
	}
	.input {
		&__btn {
			margin-top: 10px;
			font-size: 18px;
		}
	}
}
@media (max-width: 992px) {
	.banner {
		margin-top: 80px;
		&__img {
			display: none;
		}
		&__arrow {
			display: block;
		}
	}

	.discount {
		&__inner {
			&--title {
				font-size: 34px;
			}
		}
		&-box {
			margin-top: 5%;
		}
	}

	.box-item {
		margin-bottom: 10%;
	}
	.subscribe {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-bottom: 58px;
		
		&__inner {
			padding: 26px 12px;
			border: 3px dotted #608f7f;
			background-color: #80c9b0;
		}
		&__box {
			display: flex;
			flex-direction: column;
		}
	}

	.input {
		&__name {
			width: 100%;;
		}
		&__email {
			margin-top: 10px;
			width: 100%;
		}
		&__btn {
			margin-top: 10px;
			width: 100%;
		}
	}

	.footer {
		&__inner {
			text-align: center;
		}
	}

}
@media (max-width: 768px) {
	.discount {
		&__inner {
			&--title {
				&::before {
					display: none;
				}
				&::after {
					display: none;
				}
			}
		}
	}
	.sharing {
		&__social {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-bottom: 12px;
			&--link {
				margin: 0 5px 5px 5px;
			}
		}
	}
	.subscribe {
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}	
	}
}
@media (max-width: 501px) {
	.header {
		&__text {
			margin-left: 3px;
			font-size: 16px;
		}
	}
	.discount {
		&__inner {
			&--title {
				font-size: 24px;
				.red {
					margin: 0 5px;
					font-size: 42px;
				}
			}
		}
		&-box {
			margin-top: 10%;
		}
	}
}
@media (max-width: 415px) {
	
.box-item {
	&__inner {
		display: flex;
		flex-direction: column;
		padding-top: 7px;
		padding-bottom: 7px;
		&-top {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}
	}
}
.item__text {
	padding: 10px 20px;
	&--title {
		padding: 3%;
		font-size: 23px;
	}
	&--text {
		padding: 0 3%;
		font-size: 18px;
	}
}

}
@media (max-width: 375px) {
	
	.footer {
		padding: 3% 0;
		&__line {
			display: block;
		}
		&__link {
			font-size: 16px;
		}
	}
}
@media (max-width: 321px) {
	.discount {
		&__inner {
			&--title {
				font-size: 20px;
			}
		}
	}

	.item__text {
		&--title {
			width: auto;
			padding-left: 1%;
		}
	}
}